.slick-slide > div {
  display: flex !important;
  justify-content: center;
}

.slick-arrow {
  z-index: 20;
  width: 30px;
  height: 30px;
}

@media (max-width: 1024px) {
  .slick-prev, .slick-next {
    font-size: 24px;
    width: 30px;
    height: 30px;
  }
}
